body {
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    width: 100px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.move{
    animation: riding 5s linear 2s;
    animation-fill-mode: forwards;
}

.move:hover {
    animation-play-state: paused;
}

@keyframes riding{
    0%{
        left: 0%;
    }
    
    50%{
        left: 100%;
        margin-left: -100px;
    }
    
    100%{
        left: 50%;
        margin-left: -50px;
    }
}